body {
    background-color: rgb(185, 20, 80);
}

.bg-main {
    background-color: rgb(185, 20, 80);
}

.text-main {
    color: rgb(185, 20, 80);
}

.btn-bg {
    background-color: rgb(204, 204, 204);
}